<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="Data Migration Test">
        <classes>
            <class name="TestCases.DataMigrationTest"></class>
            <class name="TestCases.SalesInvoicesTest"></class>
            <class name="TestCases.PosViewTest"></class>
            <class name="TestCases.PurchaseInvoicesTest"></class>

        </classes>
    </test>
</suite>